:root {
  --accent: oklch(94.2% 0.32 275);
  --accent-dark: oklch(42.9% 0.194 275);
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: calc(100% - 2em);
  padding: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 768px) {
  main {
    padding: 2em;
    gap: 4rem;
  }
}

article {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

main a:link,
main a:visited {
  color: var(--accent-dark);
  border-bottom: 2px solid transparent;
}
main a:hover {
  background-color: var(--accent);
  text-decoration-thickness: 2px;
  outline: 3px solid var(--accent);
  border-radius: 1px;
}

.prose {
  max-width: 340px;
  color: rgb(var(--gray-dark));
  font-weight: 300;
  text-wrap: pretty;
}

.prose-wide {
  max-width: 640px;
}

.prose p {
  margin: 0;
}

.prose p + p {
  margin-top: 1rem;
}

.prose ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.prose h2 {
  font-size: 1.125em;
  font-weight: 500;
  margin: 2rem 0 0;
}
